section{
    float: left;
    margin: 0 1.6%;
    width: 30%;
}

aside{
    float: right;
    margin: 0 1.6%;
    width: 30%;
}

/*
==============================================
              CLEAR FIX
==============================================
*/

.group:before, .group:after{
    content: "" ;
    display: table;
}

.group:after{
    clear: both;
}

.group{
    clear: both;
    *zoom: 1;
}